
/src/Qi/Qi.NHibernateExtender/bin
/src/Qi/Qi.NHibernateExtender/obj
/src/Qi/_ReSharper.Qi
/src/Qi/Qi/obj
/src/Qi/Qi/bin
/src/Qi/Qi.Test/obj
/src/Qi/Qi.Test/bin
/src/Qi/Qi.Test.Console/obj
/src/Qi/Qi.Test.Console/bin
/src/Qi/Qi.Web/obj
/src/Qi/Qi.Web/bin
/src/Qi/Qi.Win32/obj
/src/Qi/Qi.Win32/bin
/src/Qi/ThreadPerformerTest/obj
/src/Qi/ThreadPerformerTest/bin
/src/Qi/TestResults
/src/Qi/MvcTest/obj
/src/Qi/MvcTest/bin
src/Publish
src/Qi/LibA/bin/
src/Qi/LibA/obj/
src/Qi/MvcTest/log/
src/Qi/packages/
src/Qi/Qi.sln.DotSettings.user
src/Qi/Qi.suo
src/Qi/Qi/Qi.csproj.user
/src/Qi/Qi.NHibernateExtender/Qi.NHibernateExtender.csproj.user
/src/Qi_src/Qi.NHibernateExtender/bin
/src/Qi_src/Qi.NHibernateExtender/obj
/src/Qi_src/LibA/bin
/src/Qi_src/LibA/obj
/src/Qi_src/Qi.Net/obj
/src/Qi_src/Qi.Net/bin
/src/Qi_src/Qi.Test.Console/obj
/src/Qi_src/Qi.Test.Console/bin
/src/Qi_src/Qi.Test/obj
/src/Qi_src/Qi.Test/bin
/src/Qi_src/Qi.WCF/obj
/src/Qi_src/Qi.WCF/bin
/src/Qi_src/Qi.Web/obj
/src/Qi_src/Qi.Web/bin
/src/Qi_src/Qi.Win32/obj
/src/Qi_src/Qi.Win32/bin
/src/Qi_src/Qi/obj
/src/Qi_src/Qi/bin
/src/Qi_src/TestResults
/src/Qi_src/packages
*.suo
*.userprefs
