@{
    ViewBag.Title = "Simple submit jquery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset class="">
    <legend>Simple submit jquery directly</legend>
    <div class="display-label">
        Name:
        <input id="name" value="name-test" />
    </div>
    <div class="display-label">
        Email:
        <input id="email" value="email-test" />
    </div>
    <div>
        <button id="getSubmit" type="button">
            submit</button>
    </div>
</fieldset>
result:
<p id="result">
</p>
<script type="text/javascript">
    $("#getSubmit").click(function () {
        var data = {
            name: $("#name").val(),
            email: $("#email").val()
        };
        $.getJSON("@Url.Action("SimpleTest")", { data: data }, function(e) {
            $("#result").html(e);
        });
    });
</script>
