@using Qi.Web
@model LibA.KeyValueMapping
@{
    ViewBag.Title = "title";
    var keys = new JsonContainer((Dictionary<string, object>)this.Model.Mapping
        );
}
@this.Model.Id;
@foreach (var key in keys.AllSubKeys)
{
    <div>
        @key : @keys.ToString(key)
    </div>
        
}
